:root {
  --body-background: snow;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  _border: 5px solid rgb(165, 58, 58);
  font-size: 2rem;
}

input,
select,
button {
  font-family: inherit;
  width: 50px;
  height: 50px;
}
.flexy {
  width: 100%;
  height: 100vh;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  _row-gap: 3rem;
}
